<div class = "container">
    <mat-toolbar>
        <span class="fill-space"></span>
        <span> Delete Admin</span>
        <span class="fill-space"></span>
    </mat-toolbar>
</div> 

<div class="group1">
    <p>
    <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter admin's email" [(ngModel)]="email">
    </mat-form-field>    
    </p>
<div>

<button mat-raised-button color="primary" mat-button (click)="submit()">Submit</button>

<div *ngIf="showDNE" class="error">
    ERROR: Account does not exist. 
</div>
<div *ngIf="showSelfDeletionError" class="error">
    ERROR: Admins cannot delete themselves. 
</div>
<div *ngIf="showSuccess" class="success">
    Account deletion successful!
</div>
</div>