li {
    display:block;
    position: auto;
    margin: auto 20px;
}

mat-sidenav-container {
    height:100%;
    position:fixed;
}

ul {
    align-items:left;
    width:100%;
    margin:0;
    padding:0;
}

mat-toolbar{
    padding:0;
}

a {
    text-decoration:none;
}

.mat-sidenav-container{
    background-color:none;
}