admin general component. html
<h3>Create Custom Email Group</h3> 
<mat-form-field class="email-group-members">
    <mat-label>Names or emails</mat-label>
    <input matInput>
    </mat-form-field>

<button mat-button>Create</button>

<h3>Current Admins</h3> 
<mat-list *ngFor="let option of admins">
    <mat-list-item>{{option}}</mat-list-item>
    <mat-divider></mat-divider>
</mat-list>

  
<mat-form-field class="admins-invited">
    <mat-label>Name or email</mat-label>
    <input matInput>
    </mat-form-field>
    


<button mat-button>Add</button>
