<!--
<h3>Create Custom Email Group</h3> 
<mat-form-field class="email-group-members">
    <mat-label>Names or emails</mat-label>
    <input matInput>
    </mat-form-field>

<button mat-button>Create</button>
-->

<div class="container">
    <mat-card>
        <mat-list>
            <mat-list-item class="header"><h1>Current Admins</h1></mat-list-item>
            <mat-list-item *ngFor="let option of admins">{{option}}</mat-list-item>
        </mat-list>
        <div class="buttons">
            <button mat-raised-button color="primary" mat-button (click)="addAdmin()" class="button margin">Add Admin</button>
            <button mat-raised-button color="primary" mat-button (click)="deleteAdmin()" class="button margin">Delete Admin</button>
            <button mat-raised-button color="primary" mat-button (click)="deleteRecords()" class="button margin">Delete Student Records</button>
        </div>
    </mat-card>
</div>