.buttons {
    width: 100%;
    margin-right: 0 auto;
    margin-top: 10px;
    margin-bottom: 4%;
}

button {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
}

.margin{
    margin-right: 10px;
}

.container {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 4%;
}

h2 {
    text-align: center;
}

h1 {
    text-align: center;
    color: white;
    margin-top: 2%;
    padding-bottom: 10px;
}

.header {
    background-color: #283493c5;
    margin-bottom: 20px;
    display:inline-block;

}


.header h1 {
    display:inline-block;
}

mat-list-item {
    word-wrap: break-word;

}