.concert{
    color: white;
    padding:3px;
    background-color: #283493c5;
    border-radius:5px;
}
.chamber{
    color: white;
    padding:3px;
    background-color: #e91e62d3;
    border-radius:5px;
}
.padding{
    margin:6px;
}
.attending{
    color:#c7c7c7;
    font-weight: 580;
    font-size: smaller;
    font-style: italic;
}

