<mat-form-field class="email-recipients" appearance="fill">
  <mat-label>Recipients</mat-label>
  <mat-chip-grid #chipGrid aria-label="Email selection">
    <mat-chip-row *ngFor="let email of emails" (removed)="remove(email)">
      {{email}}
      <button matChipRemove [attr.aria-label]="'remove ' + email">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-row>
  </mat-chip-grid>
  <input placeholder="New email or group..." #emailInput [formControl]="emailCtrl"
    [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
    (matChipInputTokenEnd)="add($event)"/>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let email of filteredEmails | async" [value]="email">
      {{email}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
