<mat-card>
    <mat-card-header>
        <mat-card-title><h1 class="header">Profile</h1>
        <button mat-mini-fab (click)="editProfile()" *ngIf="!admin">
            <mat-icon>edit</mat-icon>
        </button>
        </mat-card-title>	
    </mat-card-header>
    <mat-card-content>
        <div class="center">
            <mat-icon id="account-circle">account_circle</mat-icon>
            <h3 *ngIf="admin" class="admin-msg"><i>Admins have no profile to display.</i></h3>

            <h1 id="fullName"><b>{{fullName}}</b></h1>
            <h3 id="fullName">{{student?.pronouns}}</h3>
            <div class="info-container" *ngIf="!admin">
                <ul class ="center">
                    <li>
                        <div class="info">
                        <h3><b>Voicepart</b></h3>
                        <h4>{{voicepart}}</h4>
                        </div>
                    </li>
                    <li>
                        <div class="info">
                        <h3><b>Choir Type</b></h3>
                        <h4>{{student?.choir_name}}</h4>
                        </div>
                    </li>
                    <li>
                        <div class="info">
                        <h3><b>Graduation Year</b></h3>
                        <h4>{{student?.grad_year}}</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <button mat-raised-button color="warn" *ngIf="!isAdmin()" (click)="openDialogConfirm()">Delete Account</button>

    </mat-card-content>
</mat-card>
