app-home{
    height:100%;
    width:100%;
}

#site-title, #blurb {
    position: fixed;
    width: fit-content;
    height: fit-content;
    position: absolute;

    transform: translate(-50%, -50%);
    color: white;
}

#site-title {
    top: 45%;
    left: 50%;
    font-size:4rem;
}

#blurb {
    top: 55%;
    left: 50%;
    text-align: center;
}