
<div style="width: 100%; height: 70%; margin: 0 auto;">
    <app-photo-slideshow [slides]="slides"></app-photo-slideshow>
<div class="top">
<div id="site-title" class="highlight">BCA Choir</div> 

<div class="blurb">
    <p>Welcome to the official website of BCA's Chamber and Concert Choir.</p>

</div> 

<div *ngIf="isAuthenticated()">
    <div *ngIf="inDatabase()"></div>
</div>

<!-- 
<input ngModel #username type="text" placeholder="email; first_name; last_name; pronouns">
<input type="submit" (click)="submitClicked()">
-->

