app-home{
    height:100%;
    width:100%;
}

.top{
    text-align: left;
}

#site-title, #blurb {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
   
}
.highlight{
    color: rgb(255, 255, 255);
    text-shadow: 7px 7px 7px rgb(0, 0, 0);
}

#site-title {
    top: 15%;
    font-size:4rem;
}

#blurb {
    top: 77%;
    left: 50%;
    color: black;
}