<mat-card class="center">
    <mat-card-header>
        <mat-card-title>
            Upcoming events
        </mat-card-title>
    </mat-card-header>
    <div class="flex-container">

        <div class="flex-child">
            <div class="concert">Concert Choir</div>
        </div>
        
        <div class="flex-child">
            <div class="chamber">Chamber Choir</div>
        </div>
        
      </div>
    <mat-card-content>
        <calendar-event-tab *ngFor="let event of retrieveEvents();" [event]="event">
        </calendar-event-tab> 
    </mat-card-content>
</mat-card>

