<div class="flex-column" style="padding-top:15px">
    <div>
    <div class="flex-row" style="min-width:0;     justify-content: space-between;    ">
        <h1 class="heading flex-child" [innerHTML]="getCalendarTitle()"></h1>
        <div class="flex-child datepicker lower left flex-row">
            <div #back style="margin-left:auto;" (click)="setMonthBackward()">
                <button  class="blue-button" mat-mini-fab color="primary" aria-label="Button to create an event">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                </button>
            </div>
            <div style="font-size:2px; width:110px">
                <mat-form-field style="width:100%; font-size:.9rem">                
                    <input matInput 
                            [matDatepicker]="picker"
                            (click)="picker.open()"
                            (dateInput)="updateCalendar($event.value)"
                            placeholder="Date"> 
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                
                </mat-form-field>
            </div>

            <div #forward (click)="setMonthForward()">
                <button class="blue-button" mat-mini-fab color="primary" aria-label="Button to create an event">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
            </div>
        </div> 
    </div>

    <div *ngIf = "getAdmin()" class="right">
        <button class="blue-button"
                mat-fab extended color="primary"
                aria-label="Button to create an event"
                (click)="openCreateEventDialog()">
            <mat-icon>edit</mat-icon>
            Create Event
        </button>
    </div> 
    
    <div *ngIf="!getAdmin() && isAuthenticated()" class="right">
        <p><mat-checkbox #checkbox (change)="changed(checkbox.checked)">Display Attending</mat-checkbox></p>
    </div>

    <main class="flex-row">
        <table class="center">
            <thead>
                <tr> 
                    <th *ngFor="let weekday of weekdays" class="weekday"> {{weekday}} </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let week of getCalendarMonth(); index as weekIndex">
                    <td *ngFor="let day of week" [ngClass]="isInCurrentMonth(day.date, weekIndex)? 'current-month' : 'other-month'">
                        {{day.date}}
                        <calendar-day [events]="day.events" [date]="getCurrentDate(day.date,weekIndex)"></calendar-day>
                    </td>
                </tr>
            </tbody>
        </table>

        <app-calendar-upcoming-events *ngIf="currentWindowWidth>=768">
        </app-calendar-upcoming-events>

    </main>
</div>
