<div class="flex-column">
    <h1 class="center" [innerHTML]="getCalendarTitle()"></h1>
    <div class="center flex-row">
        <div #back (click)="setMonthBackward()">
            <button mat-mini-fab color="primary" aria-label="Button to create an event">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
        </div>
            <mat-form-field appearance="fill" class="center">
                <mat-label>Choose a date</mat-label>
                <input matInput>
            
                <input matInput 
                        [matDatepicker]="picker"
                        (click)="picker.open()"
                        (dateInput)="updateCalendar($event.value)"> 
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            
            </mat-form-field>

        <div #forward (click)="setMonthForward()">
            <button mat-mini-fab color="primary" aria-label="Button to create an event">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>

        <button mat-fab extended color="primary"
                aria-label="Button to create an event"
                (click)="openCreateEventDialog()">
            <mat-icon>edit</mat-icon>
            Create Event
        </button>

    </div> 

    <main class="flex-row">
        <table class="center">
            <thead>
                <tr> 
                    <th *ngFor="let weekday of weekdays"> {{weekday}} </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let week of getCalendarMonth(); index as weekIndex">
                    <td *ngFor="let day of week" [ngClass]="isInCurrentMonth(day.date, weekIndex)? 'current-month' : 'other-month'">
                        {{day.date}}
                        <calendar-day [events]="day.events"></calendar-day>
                    </td>
                </tr>
            </tbody>
        </table>

        <app-calendar-upcoming-events>
        </app-calendar-upcoming-events>

    </main>
</div>
