tr{
    border: 0.7px solid #000000c1; 
}

table{
    border-collapse:collapse;
}

.center{
    margin:auto;
}
.right{
    margin-left:66%;
}

.flex-column{
    display:flex;
    justify-content: center;
    justify-items:center;
    flex-direction: column;

}

.flex-row{
    display:flex;
    flex-direction:row;
}

table td { 
    border-left: 0.7px solid #000000c1; 
    width: 145px;
    height: 75px;
    vertical-align:top;
}

table td:first-child { border-left: none; }

.current-month{
    color:rgba(0, 0, 0, 0.741);
}

.other-month{
    color:rgba(128, 128, 128, 0.679);
}

app-calendar-upcoming-events {
    width:250px
}

h1 {
    font-size: 1.25cm;
    font-weight: 500;
    padding: .5cm;
    padding-top: 1cm;
}

app-calendar-week {
    width:100%;
} 

.weekday{
    font-size:20px;
    padding:15px;
}

.padding{
    padding:15px;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
}  

.flex-child:first-child {
    margin-right: 5%;
} 

.heading{
    margin-left:4%;
}

.shorter-height {
    height: 75px; /* Adjust the height value as needed */
}

.lower{
    margin-top:2%;
}
