tr{
    border: 1px solid black;
}

table{
    border-collapse:collapse;
}

.center{
    margin:auto;
}

#content{
    display:flex;
    justify-content: center;
    justify-items:center;
    flex-direction: column;

}

#controls{
    display:flex;
    flex-direction:row;
}

table td { 
    border-left: 1px solid #000; 
    width: 125px;
    height: 75px;
    vertical-align:top;
}

table td:first-child { border-left: none; }

.current-month{
    color:black;
}

.other-month{
    color:grey;
}