.data-table{
  width:80%;
  margin: 20px auto;
  overflow-x: scroll;
}

.filter{
  margin-left: 10%;
}

.yellow-button {
  background-color: #efa12c;
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 20px;
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
}  

.flex-child:first-child {
  margin: 10px;
  margin-bottom: 0;
} 

.arrow{
  margin-right: 10%;
}


mat-form-field {
  padding-bottom: 0;
  margin-bottom: 0;
}

.event-row td {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;


}