<h1 mat-dialog-title>{{event.event_name}}</h1>
<mat-chip-listbox aria-label="Event info">
  <mat-chip>Chamber</mat-chip>
</mat-chip-listbox>
<div mat-dialog-content>
  <th>Time</th>
  <p>
  {{eventService.dateISOToLocale(event.start_time)}} - 
  {{eventService.dateISOToLocale(event.end_time)}}
  </p>
      <div class = "location">   
        <b>Location</b>
        <p>{{event.location}}</p>
        <b>Address</b>
        <p>{{event.address}}</p>
      </div>  
      <span *ngIf="isAuthenticated()"> 
        <div *ngIf="!isAdmin()"> 
          <p>
          <b>Check to sign up for event: </b>
            <mat-checkbox [(ngModel)]="signedup"></mat-checkbox>
          </p>
          <span *ngIf="signedup">
            <b>Voice Part     </b>
            <mat-select style="width:20%" [(ngModel)]="voicepart">
              <mat-option *ngFor="let voicepart of voiceparts" [value]="voicepart">{{voicepart}}</mat-option>
            </mat-select>

            <b>  Part Number    </b>
            <mat-select style="width:10%" [(ngModel)]="partNumber">
              <mat-option *ngFor="let number of numbers" [value]="number">{{number}}</mat-option>
            </mat-select>
          </span>
        </div>
      </span>

 
</div>
<div mat-dialog-actions> 
  <button mat-button (click)="close()">Close</button>
  <div *ngIf="isAuthenticated()">
      <button mat-button (click)="editEvent()" *ngIf="isAdmin()">Edit Event</button>
      <button mat-raised-button color="warn" (click)="deleteEvent()" *ngIf="isAdmin()">Delete Event</button>
    <div *ngIf="!isAdmin()">
      <button mat-raised-button color="primary" (click)="confirmSignupEvent()">Confirm Signup Details</button>
    </div>
  </div>

</div>