.location p {
    display: inline-block;
}

mat-chip-listbox {
    display:inline-block;
    padding-left: 0;
}

div mat-dialog-content {
    padding-top: 0;
}

h1 {
    padding-right: .35cm;
    display: inline-block;
    margin-bottom: 0;
    padding-bottom: 0;
}

