<h1 mat-dialog-title>{{event.name}}</h1>
<mat-chip-listbox aria-label="Event info">
  <mat-chip>Chamber</mat-chip>
</mat-chip-listbox>
<div mat-dialog-content>
  <th>Time</th>
  <p>
  {{event.startTime}} - {{event.endTime}}
  </p>

    <p>{{event.startTime}} - {{event.endTime}}</p> 
      <div class = "location">   
        <b>Location</b>
        <p>{{event.location}}</p>
        <b>Address</b>
        <p>{{event.address}}</p>
      </div>  
      <hr>

 
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Close</button>
  <button mat-button (click)="moreInfo()">Open Event</button>
  <button mat-raised-button color="warn" (click)="deleteEvent()">Delete Event</button>


</div>