<div class = "container">
    <mat-toolbar>
        <span class="fill-space"></span>
        <span> Update Student</span>
        <span class="fill-space"></span>
    </mat-toolbar>
</div>

<form [formGroup]="service.form">
    <input type="hidden" formControlName="$key">
    First Name
    <mat-form-field>
        <input formcontrolName="first_name" matInput placeholder="First Name*" [value]="getFirstName()">
        <mat-error>This field is mandatory</mat-error>
    </mat-form-field>

    Last Name
    <mat-form-field>
        <input formcontrolName="last_name" matInput placeholder="Last Name*" [value]="getLastName()">
        <mat-error>This field is mandatory</mat-error>
    </mat-form-field>

    Pronouns
    <mat-form-field>
        <input formcontrolName="pronouns" matInput placeholder="Pronouns" [value]="getPronouns()">
    </mat-form-field>

    Graduation Year
    <mat-radio-group aria-labelledby="example-radio-group-label"class="example-radio-group">
        <mat-radio-button
        class="example-radio-button"
        *ngFor="let option of years"
        [value]="option.value"
        [checked]="isYearChecked(option.value)">
        {{option.name}}
        </mat-radio-button>
    </mat-radio-group>

    Choir Type
    <mat-radio-group aria-labelledby="example-radio-group-label"class="example-radio-group">
        <mat-radio-button
        class="example-radio-button"
        *ngFor="let option of choirtypes"
        [value]="option.value"
        [checked]="isChoirtypeChecked(option.value)">
        {{option.name}}
        </mat-radio-button>
    </mat-radio-group>

    Voice Part
    <mat-radio-group aria-labelledby="example-radio-group-label"class="example-radio-group">
        <mat-radio-button
        class="example-radio-button"
        *ngFor="let option of voiceparts"
        [value]="option.value"
        [checked]="isVPChecked(option.value)">
        {{option.name}}
        </mat-radio-button>
    </mat-radio-group>

    Voice Part Number
    <mat-radio-group aria-labelledby="example-radio-group-label"class="example-radio-group">
        <mat-radio-button
        class="example-radio-button"
        *ngFor="let option of voicePartNumbers"
        [value]="option.value"
        [checked]="isVPNChecked(option.value)">
        {{option.name}}
        </mat-radio-button>
    </mat-radio-group>
 
</form>