

<div class="flex-container">
  <div class="flex-child">
    <mat-form-field>
      <mat-label>Search for an event...</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Concert" #input>
    </mat-form-field>
  </div>
  <div class="flex-child">
    <button class="blue-button event flex-child"
        mat-fab extended color="primary"
        aria-label="Button to create an event"
        (click)="openCreateEventDialog()">
      <mat-icon>edit</mat-icon>
      Create Event
    </button>
  </div>
</div>
<div class="mat-elevation-z8 data-table">


  <table mat-table class="full-width-table"
        [dataSource]="dataSource"
        matSort
        aria-label="Events"
        multiTemplateDataRows>

    <ng-container matColumnDef="event_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="column-head">Name</th>
      <td mat-cell *matCellDef="let event" class="event-name">
          {{event["event_name"]}}
      </td>
    </ng-container>

    <ng-container matColumnDef="choir_type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="column-head">Choir</th>
      <td mat-cell *matCellDef="let event">
        <mat-chip>{{event["choir_type"]}}</mat-chip>
      </td>
    </ng-container>
    
    <ng-container matColumnDef="{{column}}" *ngFor="let column of generatedColumns">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="column-head">{{getColumnHead(column)}}</th>
      <td mat-cell *matCellDef="let event">{{event[column]}}</td>
    </ng-container>

    <ng-container matColumnDef="open-event">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let event">
        <button mat-mini-fab (click)="openEventRegistrees(event);">
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let event">
        <button mat-mini-fab color="warn" 
        aria-label="Click to delete event"
        (click)="openDeleteEventDialog(event)">
          <mat-icon>delete</mat-icon>
        </button>
  
    </td>
    </ng-container>  

    <tr mat-header-row *matHeaderRowDef="tableHeader"></tr>  
    <tr mat-row *matRowDef="let event; columns: allColumns;"
    class="event-row">
</tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No events match search "{{input.value}}"</td>
  </tr>
  </table>
  
  <mat-paginator #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page"
      class="flex-child">

</mat-paginator>

</div>
