<mat-form-field>
  <mat-label>Search for an event...</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Concert" #input>
</mat-form-field>

<div class="mat-elevation-z8 data-table">
  <table mat-table class="full-width-table"
        [dataSource]="dataSource"
        matSort
        aria-label="Events"
        multiTemplateDataRows>
    <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{column}}</th>
      <td mat-cell *matCellDef="let event">{{event[column]}}</td>
    </ng-container>

    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let event">
        <button mat-mini-fab color="primary" 
        aria-label="Click to expand event information"
        (click)="(expandedEvent = expandedEvent === event ? null : event); ($event.stopPropagation());">
          <mat-icon *ngIf="expandedEvent !== event">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="expandedEvent === event">keyboard_arrow_up</mat-icon>
        </button>
    </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let event" [attr.colspan]="columnsToDisplayWithExpand.length">
        <div class="event-detail"
             [@detailExpand]="event == expandedEvent ? 'expanded' : 'collapsed'">
            <div class="event-name"> {{event.event_name}} </div>
            <div class="event-type"> {{event.type}} </div>
            <div class="evemt-start"> {{event.start_time}} </div>
            <div class="event-end"> {{event.end_time}} </div>
            Test
        </div>
      </td>
    </ng-container>
  

    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>  
    <tr mat-row *matRowDef="let event; columns: columnsToDisplayWithExpand;"
    class="event-row"
    [class.event-expanded-row]="expandedEvent === event"
    (click)="expandedEvent = expandedEvent === event ? null : event">
</tr>

<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="event-detail-row"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No events match search "{{input.value}}"</td>
  </tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>
