table {
  width: 100%;
}

tr.event-detail-row {
  height: 0;
}

tr.event-row:not(.event-expanded-row):hover {
  background: whitesmoke;
}

tr.event-row:not(.event-expanded-row):active {
  background: #efefef;
}

.event-row td {
  border-bottom-width: 0;
  padding: 10px;

}

div .event-detail {
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 10px;;
}

tr.event-detail-row {
  height: 0;
}


.event-heading {
  display: inline-block;
  font-weight: bold;
  padding: 10px;
  vertical-align: middle;
}

.event-location, .event-address, .event-registration {
  display: inline-block;
  vertical-align: middle;

}

.yellow-button {
  background-color: #efa12c;
}
