<h1 mat-dialog-title>Create/Edit Event</h1>
<div mat-dialog-content>
    <b>Time</b>
    <br>

    <mat-form-field appearance="fill">
        <mat-label>Choose a start date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Choose an end date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

      
          <hr>
    
        <b>Location</b>
        <mat-form-field>
            <input matInput placeholder="Location">
        </mat-form-field>
        <br>
        <b class = "address">Address</b>
        <mat-form-field>
            <input matInput placeholder="address">
        </mat-form-field>

 
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button (click)="createEvent()">Create/Edit Event</button>


</div>