<mat-card>
    <mat-card-content>

        <mat-sidenav-container>
            <mat-sidenav mode="side" opened>
                <h3>Drafts</h3>
                <mat-list>
                    <mat-list-item>Hawaii trip</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>Choir robes needed!</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>Cat found</mat-list-item>
                  </mat-list>
            </mat-sidenav>
            <mat-sidenav-content>
                <form class="email-form">
                  <email-recipients-input></email-recipients-input>
                  
                    <mat-form-field class="email-body">
                        <mat-label>Email body</mat-label>

                      <textarea matInput></textarea>
                    </mat-form-field>
                </form>
                <section class="example-section">
                    <mat-checkbox class="example-margin">Send as calendar invite</mat-checkbox>
                    <mat-checkbox class="example-margin">Send as annoucement</mat-checkbox>
                    <mat-checkbox class="example-margin">Send as reminder</mat-checkbox>
                    <mat-checkbox class="example-margin">Important</mat-checkbox>
                </section>

                <button mat-button>Send</button>


            </mat-sidenav-content>
          </mat-sidenav-container>      
          
          


        
    </mat-card-content>
  </mat-card>