<div class = "container">
    <mat-toolbar>
        <span class="fill-space"></span>
        <span> Sign Up</span>
        <span class="fill-space"></span>
    </mat-toolbar>
</div>
<div class="group1">
<p>
    <mat-form-field class="example-full-width">
        <mat-label>First Name</mat-label>
        <input matInput ngModel #firstname>
    </mat-form-field>
</p>
<p>
    <mat-form-field class="example-full-width">
        <mat-label>Last Name</mat-label>
        <input matInput ngModel #lastname>
    </mat-form-field>
</p>
<p>
    <mat-form-field class="example-full-width">
        <mat-label>Pronouns</mat-label>
        <input matInput ngModel #pronouns>
    </mat-form-field>
</p>
</div>
<div class="group1">
    <p>
        Graduation Year
        <mat-radio-group class="example-radio-group" [(ngModel)]="yearPos">
            <mat-radio-button
            class="example-radio-button"
            *ngFor="let option of years"
            [value]="option.value">
            {{option.name}}
            </mat-radio-button>
        </mat-radio-group>
    </p>
</div>

<div class="group1">
    <p>
        Voice Part
        <mat-radio-group class="example-radio-group" [(ngModel)]="VPPos">
            <mat-radio-button
            class="example-radio-button"
            *ngFor="let option of voiceparts"
            [value]="option.value">
            {{option.name}}
            </mat-radio-button>
        </mat-radio-group>
    </p>
</div>

<div class="group1">
    <p>
        Voice Part Number
        <mat-radio-group class="example-radio-group" [(ngModel)]="VPNPos">
            <mat-radio-button
            class="example-radio-button"
            *ngFor="let option of voicePartNumbers"
            [value]="option.value">
            {{option.name}}
            </mat-radio-button>
        </mat-radio-group>
    </p>
    
    <p>
        Choir Type
        <mat-radio-group class="example-radio-group" [(ngModel)]="choirtypePos">
            <mat-radio-button
            class="example-radio-button"
            *ngFor="let option of choirtypes"
            [value]="option.value">
            {{option.name}}
            </mat-radio-button>
        </mat-radio-group>
    </p>
</div>

<button mat-raised-button color="primary" type="submit" (click)="submit()" [disabled]="disableSubmit()" id="bottom">Submit</button> 