<div class = "container">
    <mat-toolbar>
        <span class="fill-space"></span>
        <span> Add Admin</span>
        <span class="fill-space"></span>
    </mat-toolbar>
</div>

<div class="group1">
<p>
<mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Enter a bergen email">
</mat-form-field>    
</p>

<p>
<mat-form-field class="example-full-width">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="First Name">
</mat-form-field>    
</p>

<p>
<mat-form-field class="example-full-width">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="Last Name">
</mat-form-field> 
</p>

<button mat-raised-button color="primary" mat-button (click)="submit()">Submit</button>

</div>