<div class="mat-elevation-z8 data-table">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- First Name Column -->
    <ng-container matColumnDef="first_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
      <td mat-cell *matCellDef="let row">{{row.first_name}}</td>
    </ng-container>

    <ng-container matColumnDef="last_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
      <td mat-cell *matCellDef="let row">{{row.last_name}}</td>
    </ng-container>

    <ng-container matColumnDef="pronouns">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Pronouns</th>
      <td mat-cell *matCellDef="let row">{{row.pronouns}}</td>
    </ng-container>

    <ng-container matColumnDef="voicepart">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Voice Part</th>
      <td mat-cell *matCellDef="let row">{{row.voicepart}}</td>
    </ng-container>

    <ng-container matColumnDef="choir_type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Choir Type</th>
      <td mat-cell *matCellDef="let row">{{row.choir_type}}</td>
    </ng-container>

    <ng-container matColumnDef="grad_year">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Graduation Year</th>
      <td mat-cell *matCellDef="let row">{{row.grad_year}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let row">{{row.email}}</td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
      <td mat-cell *matCellDef="let row"><button md-raised-button >Edit</button></td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
      <td mat-cell *matCellDef="let row"><button md-raised-button >Delete</button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>
