<mat-toolbar color="primary"> 
    <ul> 
        <li> 
            Bergen County Academies Choir
        </li>
        <li>
        <li> 
            <a routerLink="/home">
                <button mat-raised-button>
                    Home <mat-icon>home</mat-icon>
                </button>
            </a> 
        </li>
        <li>
            <a routerLink="/calendar">
                <button mat-raised-button>
                    Calendar <mat-icon>calendar_today</mat-icon>
                </button>

            </a>
        </li>
        <li *ngIf="(auth.user$)| async as user">
            <a *ngIf="isAdmin(user.email)" routerLink="/events">
                <button mat-raised-button>
                    Events <mat-icon>event_note</mat-icon>
                </button>
            </a>
        </li>
        <li *ngIf="(auth.user$)| async as user">
            <a routerLink="/roster">
                <button mat-raised-button>
                    Roster <mat-icon>people</mat-icon>
                </button>
            </a>
        </li>
        <!-- <li *ngIf="(auth.user$)| async as user">
            <a *ngIf="isAdmin(user.email)" routerLink="/admin">Admin</a>
        </li> -->
    </ul>
    <auth-button></auth-button>

</mat-toolbar> 