li {
    padding: 20px;
    margin: auto;
    display:inline;
}


ul {
    align-items:center;
    width:100%;
}

.mat-toolbar {
    background-color: #efa12c;
    height: 10%;

}



a {
    text-decoration:none;
}

