<mat-toolbar color="primary"> 
    <ul> 
        <li> 
            Bergen County Academies Choir
        </li>
        <li>
        <li> 
            <a routerLink="/home">
                <button mat-raised-button>
                    Home <mat-icon>home</mat-icon>
                </button>
            </a> 
        </li>
        <li>
            <a routerLink="/calendar">
                <button mat-raised-button>
                    Calendar <mat-icon>calendar_today</mat-icon>
                </button>

            </a>
        </li>
        <li *ngIf="isAdmin()">
            <a routerLink="/events">
                <button mat-raised-button>
                    Events <mat-icon>event_note</mat-icon>
                </button>
            </a>
        </li>
        <li *ngIf="isAuthenticated()">
            <a routerLink="/roster">
                <button mat-raised-button>
                    Roster <mat-icon>people</mat-icon>
                </button>
            </a>
        </li>
        <li *ngIf="isAdmin()">
            <a routerLink="/admin">
                <button mat-raised-button>
                    Admin <mat-icon>build</mat-icon>
                </button>
            </a>
        </li>
    </ul>
    <auth-button></auth-button>

</mat-toolbar> 