<div class = "container">
    <mat-toolbar>
        <span class="fill-space"></span>
        <span> Update Student</span>
        <span class="fill-space"></span>
    </mat-toolbar>
</div>

<p>
    First Name
    <input matInput placeholder="First Name*" [(ngModel)]="student.first_name" [value]="getFirstName()" #firstname>
</p>

<p>
    Last Name
    <input matInput placeholder="Last Name*" [(ngModel)]="student.last_name" [value]="getLastName()" #lastname>
</p>

<p>
    Pronouns
    <input matInput placeholder="Pronouns" [(ngModel)]="student.pronouns" [value]="getPronouns()" #pronouns>
</p>

<p>
    Graduation Year
    <mat-radio-group aria-labelledby="example-radio-group-label" [(ngModel)]="yearPos">
        <mat-radio-button
        *ngFor="let option of years"
        [value]="option.name"
        [checked]='isYearChecked(option.value)'>
        {{option.name}}
        </mat-radio-button>
    </mat-radio-group>
</p>

<p>
    Choir Type
    <mat-radio-group>
        <mat-radio-button
        class="example-radio-button"
        *ngFor="let option of choirtypes"
        [value]="option.value"
        [checked]="isChoirtypeChecked(option.value)">
        {{option.name}}
        </mat-radio-button>
    </mat-radio-group>
</p>

<p>
    Voice Part
    <mat-radio-group>
        <mat-radio-button
        class="example-radio-button"
        *ngFor="let option of voiceparts"
        [value]="option.value"
        [checked]="isVPChecked(option.name)">
        {{option.name}}
        </mat-radio-button>
    </mat-radio-group>
</p>

<p>
    Voice Part Number
    <mat-radio-group>
        <mat-radio-button
        *ngFor="let option of voicePartNumbers"
        [value]="option.value"
        [checked]="isVPNChecked(option.value)">
        {{option.name}}
        </mat-radio-button>
    </mat-radio-group>
</p>
<button type="submit" (click)="submit()">Submit</button> 