<div class = "container">
    <mat-toolbar>
        <span class="fill-space"></span>
        <span> Update Student</span>
        <span class="fill-space"></span>
    </mat-toolbar>
</div>

<div class="group1">
<p>
    <mat-form-field class="example-full-width">
        <mat-label>First Name</mat-label>
        <input matInput [(ngModel)]="student.first_name" [value]="getFirstName()" #firstname>
    </mat-form-field>
</p>

<p>
    <mat-form-field class="example-full-width">
        <mat-label>Last Name</mat-label>
        <input matInput [(ngModel)]="student.last_name" [value]="getLastName()" #lastname>
    </mat-form-field>
</p>

<p>
    <mat-form-field class="example-full-width">
        <mat-label>Pronouns</mat-label>
        <input matInput [(ngModel)]="student.pronouns" [value]="getPronouns()" #pronouns>
    </mat-form-field>
</p>
</div>

<div class="group1">
<p>
    Graduation Year
    <mat-radio-group class="example-radio-group">
        <mat-radio-button
        class="example-radio-button"
        *ngFor="let option of years"
        [value]="option.value"
        [checked]="isYearChecked(option.value)"
        (change)="changeYear(option.value)">
        {{option.name}}
        </mat-radio-button>
    </mat-radio-group>
</p>
</div>

<div class="group1">
<p>
    Voice Part
    <mat-radio-group class="example-radio-group">
        <mat-radio-button
        class="example-radio-button"
        *ngFor="let option of voiceparts"
        [value]="option.value"
        [checked]="isVPChecked(option.name)"
        (change)="changeVoicePart(option.name)">
        {{option.name}}
        </mat-radio-button>
    </mat-radio-group>
</p>
</div>

<div class="group1">
<p>
    Voice Part Number
    <mat-radio-group class="example-radio-group">
        <mat-radio-button
        class="example-radio-button"
        *ngFor="let option of voicePartNumbers"
        [value]="option.value"
        [checked]="isVPNChecked(option.value)"
        (change)="changeVoicePartNum(option.value)">
        {{option.name}}
        </mat-radio-button>
    </mat-radio-group>
</p>

<p>
    Choir Type
    <mat-radio-group class="example-radio-group">
        <mat-radio-button
        class="example-radio-button"
        *ngFor="let option of choirtypes"
        [value]="option.value"
        [checked]="isChoirtypeChecked(option.value)"
        (change)="changeChoirType(option.name)">
        {{option.name}}
        </mat-radio-button>
    </mat-radio-group>
</p>
</div>
<button mat-raised-button color="primary" type="submit" (click)="submit()" id="bottom">Submit</button> 