@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
    height: 100%;
    background-color: rgb(20, 20, 21);
}

body { margin: 0;}

*:not(mat-icon) {
    font-family: 'Merriweather Sans' !important;
}
