<h1 mat-dialog-title>{{event.event_name}} Registrees</h1>
<mat-chip-listbox aria-label="Event Registrees">
  <mat-chip>{{event.choir_type}}</mat-chip>
</mat-chip-listbox>
<div mat-dialog-content>
  <h3>Soprano</h3>
  <table>
    <tr>
      <td>Galadriel Cho</td>
      <td>Satwika Vemuri</td>
      <td>Lorien Cho</td>
    </tr>
  </table>
  <h3>Alto</h3>
  <table>
    <tr>
      <td>Galadriel Cho</td>
      <td>Satwika Vemuri</td>
      <td>Lorien Cho</td>
    </tr>
  </table>
  <h3>Tenor</h3>
  <table>
    <tr>
      <td>Galadriel Cho</td>
      <td>Satwika Vemuri</td>
      <td>Lorien Cho</td>
    </tr>
  </table>
  <h3>Bass</h3>
  <table>
    <tr>
      <td>Galadriel Cho</td>
      <td>Satwika Vemuri</td>
      <td>Lorien Cho</td>
    </tr>
  </table>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Close</button>
  <button mat-button (click)="editMode()">Edit Registrees</button>

</div>